.height {
    height: 500px;
    
}

.height2 {
    height: 50px;
}

.grey {
    background-color: pink;
}

.violet {
    background-color: violet; 
}

.container {
 
    display:flex;
 
}

.primer-gradiente {
    background-image: linear-gradient(to right, white , black);

}
