.height {
    height: 500px;
    
}

.height2 {
    height: 50px;
}

.grey {
    background-color: pink;
}

.violet {
    background-color: violet; 
}


.primer-gradiente {
    background-image: linear-gradient(to right, white , black);

}

.gris {
    background-color: #696969;}

.gris2 {
    background-color:#707070;}

.gris3 {
    background-color:#787878;}

.gris4 {
    background-color:#808080;}

.gris5 {
    background-color:#888888;}

.gris6 {
    background-color: #909090;}

.gris7 {
    background-color:#989898;}

.gris8 {
    background-color: #A0A0A0;}

.gris9 {
    background-color:#A8A8A8;}

.gris10 {
    background-color:#A9A9A9;}

.gris11 {
    background-color:#B0B0B0;}

.gris12 {
    background-color:#B8B8B8;}